<div class="modal" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 800px;">

            <div class="modal-body">
                <h5 >Login</h5>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <div class="input-group">
                                    <div class="input-group-text"><i class="bi bi-person"></i></div>
                                    <input type="text" class="form-control" id="email" placeholder="You Email" email formControlName="email">
                                </div>
                                
                                <div class="form-text text-danger" *ngIf="loginForm.invalid">
                                    <div class="form-text text-danger" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.required" >Email is required</div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="input-group">
                                    <div class="input-group-text"><i class="bi bi-envelope"></i></div>
                                    <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                                </div>
                            
                            </div>

                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remeber Me</label>
                              </div>

                            <div>
                                <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary me-2" style="width: 100%;"
                                    >Login</button>
                            </div>

                        </div>

                        <div class="col">
                            <img src="../../../../signin.jpg" alt="">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>